:root {
  --bg-color: #ededed;
  --border-color: #dedede;
  --highlight-color: #4196fc;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.title_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 15px;
  margin: 20px;
}

.create_employee{
  width: 600px;
}

.adress_item{
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding:0 50px 0 10px;
  margin-bottom: 25px;
}

.input_item{
  background-color: var(--bg-color);
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 10px 0 0;
}      

:where(.css-dev-only-do-not-override-ni1kz0).ant-form-item{
  margin-bottom: 0;
}

.container{
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; 
}

.label , .adress_title{
  font-weight: 600; 
  padding: 15px;
  color: #333; 
  font-size: 16px; 
}

.error-message {
  color: red; 
  font-size: 0.875rem; 
  margin-top: 0.25rem; 
  padding: 10px;
}

.custom-modal-content {
  padding: 25px; /* Ajouter du padding autour du contenu */
}

.table-row {
  transition: background-color 0.3s ease; /* Pour une transition fluide */
}

.table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.table-row:nth-child(odd) {
  background-color: #ffffff; 
}

.table-row:hover {
  background-color: #d1e7dd; 
}

.table_head, .table_foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entries, .search, .pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination{
  gap: .8rem;
}

.back{
  margin: auto;
  text-decoration: none;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: .5rem 1rem;
  color: #000;
  background: var(--border-color);
}

.back:hover{
  background: var(--bg-color);
  color: #fff;
}

.next{
  border: 1px solid var(--bg-color);
  border-radius: 8px;
  padding: .5rem 1rem;
  color: #fff;
  background: var(--bg-color);
  cursor: pointer;
}

.next:hover{
  background: var(--border-color);
  color: var(--bg-color);
}


.current_page{
  width: 10rem;
}